.ContactUs {
    width: 0ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid white;
    animation: ContactUs 3s infinite;
}

@keyframes ContactUs {
    0% {
        width: 0ch;
    }

    100% {
        width: 9ch;
    }
}