@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.textAnimation {
    font-family: 'Poppins', sans-serif;
    width: 0ch;
    white-space: nowrap;
    overflow: hidden;
    animation: textAnimation 20s infinite;
    border-right: 5px solid #fa1a40;
}

@keyframes textAnimation {
    0% {
        width: 0ch;
    }

    50% {
        width: 24ch;
    }
}

.paragraph {
    font-family: 'Lato', sans-serif;
}